# api
API_HOST=0.0.0.0
API_PORT=8000

# db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=local_password
POSTGRES_DB=app_db

DATABASE_URL=postgresql://app_user:local_password@db:5432/app_db

# Placeholder (NOT IN USE)
CORS_ORIGINS=http://localhost:5173