# api
API_HOST=0.0.0.0
API_PORT=8000

# db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=local_password
POSTGRES_DB=app_db

DATABASE_URL=postgresql+psycopg://app_user:local_password@localhost:5432/app_db

# cors
CORS_ORIGINS=http://localhost:5173

# sqladmin
SQLADMIN_USERNAME=admin
SQLADMIN_PASSWORD=admin
SQLADMIN_SECRET_KEY=very-stong-secret-admin-access-key

# jwt
JWT_SECRET=change-this-to-a-long-random-value
ACCESS_TOKEN_EXPIRE_MINUTES=30